.wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
}

.logoBtn {
  width: 22px;
  height: 22px;
  fill: #FFFFFF;
}

.toolbar {
  padding: 30px 25px 25px 25px;
  height: calc(100% - 55px);


  .logo {
    width: 32px;
    height: 32px;
    margin-bottom: 40px;
  }

  .btn {
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    border: 3px solid rgba(0, 0, 0, 0.2);
  }

  .searchBtn > svg {
    fill: #5E7BC7;
  }

  .searchActive {
    border: none;
    background: #5E7BC7;

    &:hover {
      background: darken(#5E7BC7, 5);
    }

    > svg {
      fill: #FFFFFF;
    }
  }

  .bookmarkBtn > svg {
    fill: #C75E5E;
  }

  .bookmarkActive {
    border: none;
    background: #C75E5E;

    &:hover {
      background: darken(#C75E5E, 5);
    }

    > svg {
      fill: #FFFFFF;
    }
  }

  .avatar {
    width: 48px;
    height: 48px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
}


@media screen and (max-width: 576px) {
  .toolbar {
    padding: 30px 15px 15px 15px;
    height: calc(100% - 45px);

    .logo {
      width: 20px;
      height: 20px;
    }

    .btn {
      width: 40px;
      height: 40px;
      border-radius: 6px;
    }
  }
}