@import "src/styles/variables";

.wrapper {
  height: 100%;
}

.logoBtn {
  width: 22px;
  height: 22px;
  fill: $white;
}

.toolbar {
  padding: 30px 25px 25px 25px;
  height: calc(100% - 55px);


  .logo {
    width: 32px;
    height: 32px;
    margin-bottom: 40px;
  }

  .btn {
    background: $white;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    border: 3px solid $gray-light-light;
  }

  .searchBtn > svg {
    fill: $blue;
  }

  .searchActive {
    border: none;
    background: $blue;

    &:hover {
      background: darken($blue, 5);
    }

    > svg {
      fill: $white;
    }
  }

  .bookmarkBtn > svg {
    fill: $red;
  }

  .bookmarkActive {
    border: none;
    background: $red;

    &:hover {
      background: darken($red, 5);
    }

    > svg {
      fill: $white;
    }
  }
}


@media screen and (max-width: $sm) {
  .toolbar {
    padding: 30px 15px 15px 15px;
    height: calc(100% - 45px);

    .logo {
      width: 20px;
      height: 20px;
    }

    .btn {
      width: 40px;
      height: 40px;
      border-radius: 6px;
    }
  }
}