.sidePanel {
  max-width: calc(100vw - 100% - 48px);
  width: min(300px, calc(100vw - 100% - 48px));
  height: calc(100vh - 3rem);

  overflow-y: auto;

  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  padding: 24px;
}